on:
  - push
  - pull_request
name: unit tests
jobs:
  unit_tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod      # Module download cache
            ~/.cache/go-build # Build cache (Linux)
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Test
        run: go test ./... -v
      - name: Check Format
        run: '[ "$(gofmt -l ./ | wc -l)" -eq 0 ]'
